In [28]:
import numpy as np
import pandas as pd

In [29]:
df=pd.read_csv(r"C:\Users\91964\Documents\PROJECTS\health testing\health_issue_prediction_dataset.csv")
df.head()

   Age  Gender   BMI  Blood_Pressure  ...  Alcohol_Intake  Exercise_Frequency  Sleep_Hours   Health_Issue
0   58  Female  36.4             176  ...               0                   3          6.1       Diabetes
1   71    Male  28.3             171  ...               1                   2          4.0  Heart Disease
2   48    Male  27.1             128  ...               0                   2          8.3        Healthy
3   34  Female  24.0             107  ...               0                   1          7.7        Healthy
4   62    Male  19.2             148  ...               1                   0          8.7        Healthy

[5 rows x 12 columns]

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 500 non-null    int64
 1   Gender              500 non-null    object
 2   BMI                 500 non-null    float64
 3   Blood_Pressure      500 non-null    int64
 4   Cholesterol         500 non-null    int64
 5   Glucose             500 non-null    int64
 6   Heart_Rate          500 non-null    int64
 7   Smoking             500 non-null    int64
 8   Alcohol_Intake      500 non-null    int64
 9   Exercise_Frequency  500 non-null    int64
 10  Sleep_Hours         500 non-null    float64
 11  Health_Issue        500 non-null    object
dtypes: float64(2), int64(8), object(2)
memory usage: 47.0+ KB

In [31]:
df.isna().sum()

Age                   0
Gender                0
BMI                   0
Blood_Pressure        0
Cholesterol           0
Glucose               0
Heart_Rate            0
Smoking               0
Alcohol_Intake        0
Exercise_Frequency    0
Sleep_Hours           0
Health_Issue          0
dtype: int64

In [32]:
df.describe()

              Age         BMI  Blood_Pressure  Cholesterol  ...     Smoking  Alcohol_Intake  Exercise_Frequency  Sleep_Hours
count  500.000000  500.000000      500.000000   500.000000  ...  500.000000      500.000000          500.000000   500.000000
mean    50.396000   28.594200      133.766000   210.406000  ...    0.310000        0.440000            3.010000     6.422400
std     17.335982    6.288902       25.799971    53.199865  ...    0.462956        0.496884            2.025365     1.468813
min     20.000000   18.100000       90.000000   120.000000  ...    0.000000        0.000000            0.000000     4.000000
25%     36.750000   22.975000      111.000000   163.750000  ...    0.000000        0.000000            1.000000     5.100000
50%     51.000000   28.400000      133.500000   209.500000  ...    0.000000        0.000000            3.000000     6.400000
75%     65.000000   33.925000      155.000000   260.000000  ...    1.000000        1.000000            5.000000     7.700000
max     79.000000   40.000000      179.000000   299.000000  ...    1.000000        1.000000            6.000000     9.000000

[8 rows x 10 columns]

In [33]:
import joblib
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings("ignore")

In [34]:
le=LabelEncoder()
df["Gender"]=le.fit_transform(df["Gender"])
for label,i in enumerate(le.classes_):
    print(f"{i}:{label}")

Female:0
Male:1

In [35]:
df["Health_Issue"]=le.fit_transform(df["Health_Issue"])
for label,i in enumerate(le.classes_):
    print(f"{i}:{label}")

Diabetes:0
Healthy:1
Heart Disease:2
Liver Problem:3

In [36]:
df["Health_Issue"].value_counts()

Health_Issue
2    209
1    183
0     90
3     18
Name: count, dtype: int64

In [37]:
sd=StandardScaler()
ft=["Age","BMI","Blood_Pressure","Cholesterol","Glucose","Heart_Rate"]
df[ft]=sd.fit_transform(df[ft])

In [38]:
df.head(1)

        Age  Gender       BMI  Blood_Pressure  ...  Alcohol_Intake  Exercise_Frequency  Sleep_Hours  Health_Issue
0  0.439065       0  1.242445        1.638618  ...               0                   3          6.1             0

[1 rows x 12 columns]

In [39]:
fet=["Age","Gender","BMI","Blood_Pressure","Cholesterol","Glucose","Heart_Rate","Smoking","Alcohol_Intake","Exercise_Frequency","Sleep_Hours"]
x=df[fet]
y=df["Health_Issue"]
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=42)

In [40]:
lg=LogisticRegression(max_iter=2000,solver='lbfgs',multi_class='multinomial')
lg.fit(xtrain,ytrain)
ypred1=lg.predict(xtest)

In [41]:
print(classification_report(ytest,ypred1))

              precision    recall  f1-score   support

           0       0.79      0.73      0.76        15
           1       0.80      0.76      0.78        37
           2       0.73      0.86      0.79        43
           3       0.00      0.00      0.00         5

    accuracy                           0.76       100
   macro avg       0.58      0.59      0.58       100
weighted avg       0.73      0.76      0.74       100

In [42]:
rc=RandomForestClassifier()
rc.fit(xtrain,ytrain)
ypred2=rc.predict(xtest)
print(classification_report(ytest,ypred2))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       0.88      0.97      0.92        37
           2       0.98      1.00      0.99        43
           3       0.00      0.00      0.00         5

    accuracy                           0.94       100
   macro avg       0.71      0.74      0.73       100
weighted avg       0.90      0.94      0.92       100

In [43]:
sv=SVC()
sv.fit(xtrain,ytrain)
ypred3=sv.predict(xtest)
print(classification_report(ytest,ypred3))

              precision    recall  f1-score   support

           0       0.75      0.60      0.67        15
           1       0.76      0.76      0.76        37
           2       0.76      0.91      0.83        43
           3       0.00      0.00      0.00         5

    accuracy                           0.76       100
   macro avg       0.57      0.57      0.56       100
weighted avg       0.72      0.76      0.74       100

In [44]:
dc=DecisionTreeClassifier()
dc.fit(xtrain,ytrain)
ypred4=dc.predict(xtest)
print(classification_report(ytest,ypred4))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       0.97      1.00      0.99        37
           2       1.00      1.00      1.00        43
           3       1.00      0.80      0.89         5

    accuracy                           0.99       100
   macro avg       0.99      0.95      0.97       100
weighted avg       0.99      0.99      0.99       100

In [45]:
joblib.dump(rc,r"C:\Users\91964\Documents\PROJECTS\health testing\Randomforestclassifier.pkl")

['C:\\Users\\91964\\Documents\\PROJECTS\\health testing\\Randomforestclassifier.pkl']